body.light-mode {
  background-color: white;
  color: black;
}

nav.light-mode {
  background-color: rgb(0, 106, 255);
}

div.light-mode {
  background-color: rgb(0, 106, 255);
  color: white
}

hr.light-mode {
  color: white
}

hr.dark-mode {
  color: black
}

div.dark-mode {
  background-color: rgb(43, 50, 61);
}

nav.dark-mode {
  background-color: rgb(43, 50, 61);
}

body.dark-mode {
  background-color: rgb(75, 85, 99);
  color: white;
}
